{% extends 'base.html' %}

{% block body %}
<!--PDF INVOICE-->
<div class="container">
    <br>
    <h1 class="display-6 text-center">VIEW DESIGNS</h1>
    <br>
    <h3>Customer: {{customerName}}</h3>

    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">S.NO</th>
            <th scope="col">Design Name</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
        {% for data in targetCustomer %}
        <tr>
            <th scope="col">{{forloop.counter}}</th>
            <th scope="col">{{data.name}}</th>
            <th scope="col">
                <img src="{{data.image.url}}" class="img-thumbnail" height="120" width="120">
            </th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}